
<div class="col-md-6 offset-md-3" id="div1">
<h1> View Employee Details</h1><br>
<div id="div2"> 
    <div>
        <label> <b> Name: </b></label> {{employee.firstName}} {{employee.lastName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{employee.emailId}}
    </div>
    <div>
        <label> <b> Department: </b></label> {{employee.department}}
    </div>
    <div>
        <label> <b> City: </b></label> {{employee.city}}
    </div><br>

    <button (click)=onSubmit() class="btn btn-warning" style="margin-left:10px">Back To List</button> 
</div>
</div>